[flake8]
ignore =
        W503,
        E203,
        E261,
        E262,
        E265,
        E266,
        E302,
        E303,
        E305,
        E501,
        E999,
        F821,
        F841,
        F401,
        F403,

# W503 - line break before binary operator
# E203 - whitespace before :
# E261 - two spaces before inline comment
# E262 - space between #  and inline comment text
# E265 - space between #  and block comment text
# E266 - There Can Be Only One (#  preceding a comment)
# E302 - two blank lines between functions and classes
# E303 - two blank lines between functions and classes; one between methods 
# E305 - two blank lines after functions and classes
# E501 - line too long
# E999 - EOL while scanning string literal
# F821 - undefined name
# F841 - local variable `name` is assigned to but never used
# F401 - imported but unused
# F403 - unable to detect undefined names
